<header>
       <div data-netlify-identity-menu></div>
    <nav>
        {% for link in router.routes %}
            <a href="{{ link.path }}">{{ link.name }}</a>
        {% endfor %}
    </nav>

</header>